body {
  background-image: url(../images/sawReverse-1920-.jpg);
  background-size: auto;
  color: yellow;
  /* width: 1024px; */
  text-align: center;
  /* font-family: 'Schoolbell', cursive; */
  font-family: 'Rock Salt', cursive;
  /* font-family: 'Nothing You Could Do', cursive; */
  /* font-family: 'Nanum Brush Script', cursive; */
  font-size:30px;
  overflow: hidden;
}
.container {
  background: none;
  float: left;
  width: 960px;
  height: auto;
  /* margin: 100px auto; */
}

.header {
  margin: 15px;
  text-decoration: underline;
}

.jumbotron {
  background: none;
  text-decoration: underline;
}

 .gameData {
  letter-spacing: 10px;
}
.card {
  background: none;
}
